@media screen and (min-width: 810px) and (orientation: landscape) {
    html {
        font-size: 10px;
    }

    .welcome {
        top: 15vh;
    }

    .icons-con {
        bottom: 20vh;
        text-align: right;
    }

    .icons-con img {
        margin: 0 2%;
    }

    .projects h1 {
        margin-bottom: calc(5vh + 20px);
    }

    footer p {
        line-height: 60px;
    }

    nav.desktop {
        display: block;
        height: 0;
        background-color: black;
        transition: .3s ease-in-out;
        z-index: 1;
    }

    .desktop.active {
        height: 60px;
    }
}