@media screen and (min-width: 744px) and (orientation: portrait) {

    nav.mobile {
        display: none;
    }

    .description h2 {
        margin-bottom: 40px;
    }


    .welcome {
        padding: 0 6%;
    }


    .icons-con img {
        margin: 0 6%;
        width: 60px;
        height: 60px;
        border-radius: 25%;
    }


    section.about {
        padding-top: 100px;
        min-height: 960px;
    }

    .dropdown-content h3 {
        line-height: 100px;
    }

    .dropdown-bar {
        height: 80px;
    }

    .dropdown-btn img {
        width: 15px;
        height: 20px;
    }

    .dropdown-btn h3 {
        line-height: 80px;
    }

    .dropdown-content {
        top: 80px;
    }

    .dropdown-content.active {
        height: 404px;
    }




}

@media screen and (min-width: 744px) {
    html {
        font-size: 12px;
    }

    nav.desktop {
        display: none;
    }

    .skills-con {
        max-width: 418px;
        padding-bottom: 1vh;
    }

    .skills-con h3 {
        line-height: 80px;
    }

    .bar {
        height: 15px;
        top: 8px;
    }

    section.contact {
        position: relative;
        min-height: 100vh;
    }

    .contact-content {
        position: absolute;
        width: 92%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 1200px;
    }

    .form-con {
        float: left;
        width: 65%;
        max-width: 700px;
        margin: 0 auto;
    }

    .link-icons {
        box-sizing: content-box;
        float: left;
        width: 35%;
        height: 560px;
        margin-bottom: 0;
        margin-top: 100px;
    }

    .icon {
        float: none;
        width: 100%;
    }

    .send-btn {
        height: 80px;
        line-height: 76px;
    }

    .text-input:nth-child(4) {
        height: 250px;
    }

    .icon img {
        height: 40px;
        width: 40px;
        margin-right: 10px;
    }

    footer p {
        line-height: 60px;
    }
}