@media screen and (min-width: 410px) {
    html {
        font-size: 10px;
    }

    .dropdown-content h3 {
        line-height: 90px;
    }

    .dropdown-bar {
        height: 70px;
    }

    .dropdown-btn {
        right: 20px;
    }

    .dropdown-btn h3 {
        line-height: 70px;
    }

    .dropdown-content {
        top: 70px;
    }

    .dropdown-content.active {
        height: 364px;
    }

    .welcome {
        top: 15vh;
        padding: 0 5%;
    }

    .icons-con img {
        margin: 0 5%;
    }

    .button-con img {
        width: 70px;
        height: 70px;
    }

    .description {
        margin-bottom: 5vh;
    }

    .description h2 {
        margin-bottom: 40px;
    }

    .divieder h1 {
        line-height: 100px;
    }

    section.projects,
    section.contact {
        padding-top: 100px;
        padding-bottom: 80px;
    }

    section.contact {
        padding-bottom: 20px;
    }


    .form-con {
        margin-bottom: 60px;
    }

    .text-input,
    .send-btn {
        height: 50px;
    }

    .send-btn {
        height: 70px;
        line-height: 65px;
    }

    .text-input {
        padding: 10px;
    }

    .icon img {
        height: 35px;
        width: 35px;
    }

    .icon {
        margin-bottom: 60px;
    }

    footer p {
        line-height: 50px;
    }

}