* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 8px;
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
}

.wrapper {
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.dropdown-content.active {
    height: 284px;
}

h1,
header p {
    font-size: 4.209rem;
    font-weight: 400;
}

h2 {
    font-size: 3.157rem;
    font-weight: 400;
}

h3 {
    font-size: 2.369rem;
    font-weight: 400;
}

p {
    font-size: 1.777rem;
    font-weight: 400;
}

section p {
    font-family: 'Open-sans', sans-serif;
}

span {
    font-size: 1.333rem;
    font-weight: 400;
}

nav.mobile {
    display: none;
    position: fixed;
    z-index: 2;
    width: 100%;
    transition: .3s;
}

.dropdown-bar {
    height: 50px;
    background-color: black;
}


.dropdown-btn {
    position: absolute;
    right: 15px;
}

.dropdown-btn h3 {
    display: inline-block;
    color: white;
    text-transform: uppercase;
    line-height: 50px;
    margin-right: 7px;
}

.dropdown-btn img {
    position: relative;
    width: 11.5px;
    top: -0.5px;
}

.opacity-bg {
    position: absolute;
    z-index: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.dropdown-content {
    position: absolute;
    width: 100%;
    top: 50px;
    background-color: white;
}

.dropdown-content h3 {
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 3%;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.dropdown-content h3:last-child {
    margin: 0;
}

nav.desktop {
    display: none;
    position: fixed;
    width: 100%;
}

.desktop ul {
    width: 80%;
    margin: 0 auto;
}

.desktop ul li {
    float: left;
    list-style: none;
    width: 25%;
    transition: .3s;
    cursor: pointer;
}

.desktop ul li:hover {
    border-bottom: 1px solid white;
}

.desktop.active ul li:hover {
    background-color: white;
    border: none;
}

.desktop.active ul li:hover p {
    color: black;
}

.desktop ul li:hover p {
    transition: .3s;
}

.desktop ul li p {
    text-align: center;
    margin: 0 20%;
    text-transform: uppercase;
    line-height: 60px;
    color: white;
    font-weight: 300;
    transition: 0.2s;
}



header {
    height: 100vh;
    background-image: url('../img/boat-5889919.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
    padding: 0 5%;
}

section {
    height: 100vh;
    padding: 70px 5%;
}

.welcome h1,
.welcome h2,
.welcome p {
    text-transform: uppercase;
    font-size: 4rem;
}

.welcome p,
.welcome h1 {
    font-weight: 500;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.welcome h2 {
    font-weight: 300;
}

.welcome {
    position: absolute;
    top: 10vh;
}

.icons-con {
    position: absolute;
    bottom: calc(18vh + 70px);
    width: 100%;
    text-align: center;
}

.icons-con img {
    margin: 3%;
    transition: .1s ease-in-out;
}

.icons-con img:hover {
    cursor: pointer;
    margin-bottom: 10px;
}

.button-con {
    position: absolute;
    width: 100%;
    bottom: calc(4vh + 40px);
    text-align: center;
}

.button-con img {
    height: 50px;
    width: 50px;
    transition: .2s ease-in-out;
}

.button-con img:hover {
    cursor: pointer;
    margin-bottom: 10px;
}

section.about {
    background-color: #D7F3FF;
    height: auto;
}

.description {
    color: #18313A;
    text-align: center;
    margin-bottom: 7vh;
}

.description h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.description p {
    font-size: 1.333rem;
    line-height: 150%;
}

.lang-block {
    display: none;
    height: 41.5vh;
    min-height: 440px;
}

.lang-icons {
    position: relative;
    display: block;
    width: 562px;
    margin: 0 auto;
    height: 100%;
    max-height: 540px;
    min-width: 520px;
    max-width: 575px;
}



.skills-con {
    width: 90%;
    max-width: 300px;
    background-color: white;
    margin: 0 auto;
    padding-bottom: 2vh;
}

.skills-con h3 {
    width: 85%;
    text-align: center;
    margin: 0 auto;
    line-height: 60px;
    border-bottom: 1px solid black;
}

.skill {
    width: 85%;
    margin: 4vh auto;
}

.skill p {
    float: left;
    width: 25%;
    margin-right: 10%;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    font-family: 'Oswald', sans-serif;
}

.skill span {
    position: relative;
    display: inline-block;
    top: -2.5px;
}

.bar {
    position: relative;
    top: 5.5px;
    float: left;
    height: 9px;
    width: 65%;
    border-radius: 10px;
    border: 1px solid black;
}

section.projects {
    background-color: #06547A;
    height: auto;
    min-height: 100vh;
}

.projects h1 {
    text-transform: uppercase;
    color: white;
    text-align: center;
    line-height: 100px;
    margin-bottom: 5vh;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.project-con {
    height: 50vh;
    width: 100%;
    background-color: white;
    margin-bottom: 10vh;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.project-con:last-child {
    margin: 0;
}

.project {
    position: relative;
    height: 50%;
    transition: .5s;
    overflow: hidden;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background-size: cover;
    background-position: center;
    transition: .5s;
}

.project h1 {
    position: absolute;
    width: 100%;
    color: white;
    line-height: 25vh;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: .5s;
}

.project:hover h1 {
    opacity: 1;
    cursor: pointer;
}

.project:hover .image {
    transform: scale(1.25);
}


.project-description {
    position: relative;
    height: 50%;
    text-align: center;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project-description p {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-size: 1.333rem;
    padding: 0 3%;
}

.familybudget {
    background-image: url('../img/chart-4819676_1920.jpg');
}

.lech-system {
    background-image: url('../img/blue-2620133.webp');

}

section.contact {
    background-color: #47606A;
    height: auto;
    padding-bottom: 20px;
}

.form-con {
    margin-bottom: 50px;
}

.text-input,
.send-btn {
    display: block;
    width: 80%;
    height: 30px;
    margin: 25px auto;
}

.send-btn {
    text-align: center;
    text-transform: uppercase;
    color: white;
    line-height: 45px;
    height: 50px;
    border: 2px solid white;
    font-size: 1.777rem;
    font-weight: 300px;
    transition: .3s;
}

.send-btn:hover {
    cursor: pointer;
    border-color: #E69C24;
    color: #E69C24;
}

.text-input {
    border: none;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Oswald', sans-serif;
    font-size: 1.333rem;
    color: black;
    padding: 5px;
    outline: none;
}

.text-input:nth-child(3) {
    height: 200px;
}

.text-input::placeholder {
    color: #435C67;

}

.icon {
    float: left;
    width: 50%;
    margin-bottom: 20px;
}

.icon div p {
    transition: 0.3s;
}

.icon div:hover img,
.icon div:hover p {
    color: #E69C24;
    cursor: pointer;
}


.icon:last-child {
    margin-bottom: 0;

}

.icon div {
    width: 80%;
    margin: 0 auto;
}

.icon div {
    margin-left: auto;
    margin-right: 0;
}

.icon img {
    height: 30px;
    width: 30px;
    margin-right: 5px;
    vertical-align: middle;
}

.icon p {
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 1.333rem;
}

footer p {
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 1.333rem;
}